{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'admin_all_books' %}">all books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'student_borrowed_books' %}">borrowed books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:all_users' %}">all users</a>
              </li>
              {% if user.id %}
             <li class="nav-item">
             <a class="nav-link "  href="{% url 'logout'%}">  {{user}} : Logout</a>
                </li>
                  {% else %}
                   <li class="nav-item">
                  <a class="nav-link "  href="{% url 'accounts:register'%}">  Login/signup</a>
              {% endif %}
              {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">all users</a></li>
                </ul>
              </li> {% endcomment %}
              <li class="nav-item">
              </li>
            </ul>
            <form class="d-flex" role="search" onsubmit="redirectToProfile(event)">
              <input class="form-control me-2" type="search" placeholder="Search by ID" aria-label="Search" name="user_id" id="user_id">
              <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <script>
              function redirectToProfile(event) {
                  event.preventDefault();
                  var userId = document.getElementById('user_id').value;
                  var profileUrl = "/accounts/pprofile/" + userId + "/";
                  window.location.href = profileUrl;
              }
          </script>
          </div>
        </div>
      </nav>
  <div class="container " >
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <div >
        {% block body %}
        {% endblock %}
    </div>
  </div>
  <footer>
    <h4 style="text-align:center">copyrights@MohammedMahmoudfci@gmail.com</h4>
  </footer>
  <script src="{% static 'bootstrap/js/bootstrap.js'%}"> </script>
</body>
</html>