{% extends 'student/layouts/base.html' %}
{% load static %}
{% block title %}all books {% endblock %}
{% block content %}
</br>
{% for b in books %}
  <div style="display:inline-block">
    <div class="card" style="width: 18rem;">
      <img src="{{b.get_image_url}}" width="200" height="200" class="card-img-top" alt="...">
       <div class="card-body">
        <h5 class="card-title">{{b.name}}</h5>
        <a href="{% url 's_show' b.id %}" class="btn btn-primary">Show</a>
        <a href="{% url 'student_borrow_book' b.id %}" class="btn btn-warning">borrow</a>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
{% block body %}{% endblock %}